.NavBar-T1-y{

    width: 100%;
    margin-top: -10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 0, 0.652);
    height: 50px;
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: rgb(52, 52, 52);
    

}