.NavBar-T1-y{

    width: 50%;
    margin-top: -10px;
    padding-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    background-color: rgb(36, 36, 36);
    clip-path: polygon(0% 0%,0% 50%,2% 100%,100% 100%, 100% 50%,98% 0% );
    margin-right: 2%;
    

}