.Inp-T1-1-p{
    height: 40px;
    width: 190px;
    color: rgb(217, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 88.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid rgb(217, 0, 255); 
}

.Inp-T1-2-p{
    height: 40px;
    width: 290px;
    color: rgb(217, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 94.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid rgb(217, 0, 255); 
}

.Inp-T1-3-p{
    height: 40px;
    width: 390px;
    color: rgb(217, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 95.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid rgb(217, 0, 255); 
}

.Inp-T1-4-p{
    height: 40px;
    width: 490px;
    color: rgb(217, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 97.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid rgb(217, 0, 255); 
}

.Inp-T1-5-p{
    height: 40px;
    width: 590px;
    color: rgb(217, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid rgb(217, 0, 255); 
}

.Inp-T1-6-p{
    height: 40px;
    width: 690px;
    color: rgb(217, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid rgb(217, 0, 255); 
}

.Inp-T1-7-p{
    height: 40px;
    width: 790px;
    color: rgb(217, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid rgb(217, 0, 255); 
}

.Inp-T1-8-p{
    height: 40px;
    width: 890px;
    color: rgb(217, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid rgb(217, 0, 255); 
}

.Inp-T1-9-p{
    height: 40px;
    width: 990px;
    color: rgb(217, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid rgb(217, 0, 255); 
}

