.Inp-T1-1-y{
    height: 40px;
    width: 190px;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 88.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}

.Inp-T1-2-y{
    height: 40px;
    width: 290px;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 94.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}

.Inp-T1-3-y{
    height: 40px;
    width: 390px;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 95.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}

.Inp-T1-4-y{
    height: 40px;
    width: 490px;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 97.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}

.Inp-T1-5-y{
    height: 40px;
    width: 590px;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}

.Inp-T1-6-y{
    height: 40px;
    width: 690px;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}

.Inp-T1-7-y{
    height: 40px;
    width: 790px;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}

.Inp-T1-8-y{
    height: 40px;
    width: 890px;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}

.Inp-T1-9-y{
    height: 40px;
    width: 990px;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}

