.Bar-T1-top-y{
    transition: 0.5s;
    height: 40px;
    background-color: yellow;
    clip-path: polygon(
        9% 100%, 10% 50%,11% 50%,10% 100%,
        11% 100%, 12% 50%,13% 50%,12% 100%,
        13% 100%, 14% 50%,15% 50%,14% 100%,
        15% 100%, 16% 50%,17% 50%,16% 100%,
        17% 100%, 18% 50%,19% 50%,18% 100%,
        19% 100%, 20% 50%,21% 50%,20% 100%,
        21% 100%,22% 50%,
        30% 50%, 31% 80%,32% 50%,
        32% 50%, 33% 20%,36% 20%,37% 50%,
        50% 50%, 51% 70%,56% 70%,57% 50%,
        60% 50%,61% 20%, 63% 20%, 64% 50%,
        90% 50%, 91% 80%,91% 80%,92% 50%,
        92% 50%, 93% 20%,94% 20%,95% 50%
        ,100% 50%, 100% 100%  
    );



 
}


.Bar-T1-top-y:hover{
    transition: 0.5s;
    clip-path: polygon(
        10% 100%, 11% 50%,12% 50%,11% 100%,
        12% 100%, 13% 50%,14% 50%,13% 100%,
        14% 100%, 15% 50%,16% 50%,15% 100%,
        16% 100%, 17% 50%,18% 50%,17% 100%,
        18% 100%, 19% 50%,20% 50%,19% 100%,
        20% 100%, 21% 50%,22% 50%,21% 100%,
        21% 100%,22% 50%,
        30% 50%, 31% 80%,32% 50%,
        32% 50%, 33% 20%,36% 20%,37% 50%,
        50% 50%, 51% 70%,56% 70%,57% 50%,
        60% 50%,61% 20%, 63% 20%, 64% 50%,
        90% 50%, 91% 80%,91% 80%,92% 50%,
        92% 50%, 93% 20%,94% 20%,95% 50%
        ,100% 50%, 100% 100%  
    );

}

.Bar-T1-buttom-y{
    transition: 0.5s;
    height: 40px;
    background-color: yellow;
    clip-path: polygon(

       0% 0%, 0% 50%,
       10% 50%, 11% 80%, 15% 80%, 16% 50%,
       17% 20%, 18% 50%,
       20% 50%, 21% 0%,
       30% 0% ,31% 50%,
       35% 50%, 36% 20%, 37% 50%,
       38% 80%, 40% 80%, 41% 50%,
       65% 50%, 66% 20%, 67% 50%,
       87% 50%,88% 80%, 96% 80%, 97% 50%,
       97% 50%, 97% 0%,
       97.5% 0%, 97.5% 50%, 98% 50%,98% 0%,
       98.5% 0%, 98.5% 50%, 99% 50%,99% 0%,
       99.5% 0%, 99.5% 50%, 100% 50%,100% 0%
    );
}