.content{
    transition: 1s;
    height: 80%;
    width: 80%;
    background-color: rgb(52, 52, 52);
    border: 6px double rgb(0, 240, 255);
}

.content-visibylity2{
    transition: 5s;
    height: 100%;
    width: 100%;
    background-color: rgb(52, 52, 52);
    border: 6px double rgb(0, 240, 255);
    z-index: 1;
    
}


