.sec1{
    height: 900px;
    background-color: rgb(255, 255, 0);
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 188.2% 100%, 90% 90%, 5.4% 100%, 0% 100%);
    
}


.sec2{
    height: 500px;
    background-clip: text;
color: transparent;
    
}