/*

bouton jaune taille 1

*/

button{
    cursor: cell;
}


.Btn-T1-1-y{
    
    background-color:transparent;
    height: 40px;
    width: 190px;
    border: 0px solid transparent;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 88.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T1-1-y:hover{
   
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}



/*

bouton jaune taille 2

*/

.Btn-T1-2-y{
    transition: 1s;
    background-color:transparent;
    height: 40px;
    width: 290px;
    border: 0px solid transparent;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 88.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T1-2-y:hover{
    transition: 2s;
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}



/*

bouton jaune taille 3

*/

.Btn-T1-3-y{
    transition: 1s;
    background-color:transparent;
    height: 40px;
    width: 390px;
    border: 0px solid transparent;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 95.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T1-3-y:hover{
    transition: 2s;
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}



/*

bouton jaune taille 4

*/

.Btn-T1-4-y{
    transition: 1s;
    background-color:transparent;
    height: 40px;
    width: 490px;
    border: 0px solid transparent;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 97.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T1-4-y:hover{
    transition: 2s;
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}



/*

bouton jaune taille 5

*/

.Btn-T1-5-y{
    transition: 1s;
    background-color:transparent;
    height: 40px;
    width: 590px;
    border: 0px solid transparent;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T1-5-y:hover{
    transition: 2s;
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}



/*

bouton jaune taille 6

*/

.Btn-T1-6-y{
    transition: 1s;
    background-color:transparent;
    height: 40px;
    width: 690px;
    border: 0px solid transparent;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T1-6-y:hover{
    transition: 2s;
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}



/*

bouton jaune taille 7

*/

.Btn-T1-7-y{
    transition: 1s;
    background-color:transparent;
    height: 40px;
    width: 790px;
    border: 0px solid transparent;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T1-7-y:hover{
    transition: 2s;
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}



/*

bouton jaune taille 8

*/

.Btn-T1-8-y{
    transition: 1s;
    background-color:transparent;
    height: 40px;
    width: 890px;
    border: 0px solid transparent;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T1-8-y:hover{
    transition: 2s;
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}



/*

bouton jaune taille 9

*/

.Btn-T1-9-y{
    transition: 1s;
    background-color:transparent;
    height: 40px;
    width: 990px;
    border: 0px solid transparent;
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 98.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T1-9-y:hover{
    transition: 2s;
    background-color:rgba(0, 0, 0, 0.192);
    border:1px solid #ffff00; 
}











.Btn-T2-1-y{
    
    background-color:transparent;
    height: 40px;
    width: 190px;
    border: 0px solid transparent;
    color: #ffff00;
    border:1px solid #ffff00; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 88.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
    
}

.Btn-T2-1-y:hover{
   
    background-color:rgba(0, 0, 0, 0.192);
    clip-path: polygon(0% 0%, 100% 0%, 100% 72.3%, 88.2% 100%, 54.7% 100%, 10.4% 100%, 0% 100%);
}




body{
    background-color: rgb(75, 75, 75);
}